#button-container{
    display: flex;
    justify-content: center;
}

#button-container .button {
    width: 128px;
    padding: 12px;
    margin: 24px;
}

#score-container {
    display: flex;
    justify-content: center;
    margin: 48px;
}

#score-container .score {
    margin: 48px;
    font-size: 48px;
    border: 8px solid black;
    padding: 8px;
}

#message-container {
    display: flex;
    justify-content: center;
    font-size: 48px;
    color: red;
}

#final-message {
    display: flex;
    font-size: 64px;
    justify-content: center;
    margin: 64px;
}